.nav-cookie-disclaimer__text {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

.nav-cookie-disclaimer {
    background: #333;
    border-radius: 6px 6px 0 0;
    bottom: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    display: none;
    flex-wrap: wrap;
    left: 0;
    padding: 18px;
    position: fixed;
    width: 100%;
    width: fill-available;
    z-index: 120
}

.nav-cookie-disclaimer__text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    margin: 0 0 32px
}

.nav-cookie-disclaimer__link {
    color: #fff;
    text-decoration: underline;
    white-space: nowrap
}

.nav-cookie-disclaimer__button {
    background-color: #3483fa;
    border-radius: 6px;
    border: 1px solid #3483fa;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    margin: 0;
    padding: 6px 12px;
    text-transform: none;
    width: 100%
}

.nav-cookie-disclaimer__button:focus {
    box-shadow: 0 0 0 0.1875em rgba(30, 109, 255, 0.4);
    outline: 0;
    transition: box-shadow .25s ease-in
}

.nav-cookie-disclaimer__button:hover {
    background-color: #1e6dff;
    border-color: transparent;
    color: #fff;
    transition: background-color .2s ease-in
}

.nav-cookie-disclaimer__button:active {
    background-color: #105cf4;
    border-color: transparent;
    color: #fff
}

body {
    font-family: 'Proxima Nova', -apple-system, 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;
    margin: 0
}

.header-wrapper {
    width: 100%;
    position: absolute;
    user-select: none
}

.cart-badge {
    display: none
}

.show-cart-badge-icon {
    display: initial
}

.header-wrapper--fixed {
    position: fixed;
    z-index: 1000
}

.header-wrapper--fixed+.nav-header__banner+main>.nav-main-content,
.header-wrapper--fixed+main>.nav-main-content,
.header-wrapper--fixed+main>.home {
    padding-top: 56px
}

.header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--with-transparency,
.header-wrapper--fixed+main>.nav-main-content.home--with-transparency,
.header-wrapper--fixed+main>.home.home--with-transparency {
    padding-top: 0
}

.header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--with-transparency.home--padding-top-content,
.header-wrapper--fixed+main>.nav-main-content.home--with-transparency.home--padding-top-content,
.header-wrapper--fixed+main>.home.home--with-transparency.home--padding-top-content {
    padding-top: 56px
}

.header-wrapper--fixed+main>.ui-search,
.header-wrapper--fixed+main>.ui-search--zrp,
.header-wrapper--fixed+main>.ui-pdp,
.header-wrapper--fixed+main>.ui-pdp-not-found,
.header-wrapper--fixed+main>.ui-pdp--error,
.header-wrapper--fixed+main>.ui-vip-core {
    padding-top: 56px
}

.header-wrapper--fixed+main>.ui-search.home--with-transparency,
.header-wrapper--fixed+main>.ui-search--zrp.home--with-transparency,
.header-wrapper--fixed+main>.ui-pdp.home--with-transparency,
.header-wrapper--fixed+main>.ui-pdp-not-found.home--with-transparency,
.header-wrapper--fixed+main>.ui-pdp--error.home--with-transparency,
.header-wrapper--fixed+main>.ui-vip-core.home--with-transparency {
    padding-top: 0
}

.header-wrapper--fixed+main>.ui-search.home--with-transparency.home--padding-top-content,
.header-wrapper--fixed+main>.ui-search--zrp.home--with-transparency.home--padding-top-content,
.header-wrapper--fixed+main>.ui-pdp.home--with-transparency.home--padding-top-content,
.header-wrapper--fixed+main>.ui-pdp-not-found.home--with-transparency.home--padding-top-content,
.header-wrapper--fixed+main>.ui-pdp--error.home--with-transparency.home--padding-top-content,
.header-wrapper--fixed+main>.ui-vip-core.home--with-transparency.home--padding-top-content {
    padding-top: 56px
}

.header-wrapper--fixed+main>.ui-search .ui-pdp-gallery__zoom-container,
.header-wrapper--fixed+main>.ui-search--zrp .ui-pdp-gallery__zoom-container,
.header-wrapper--fixed+main>.ui-pdp .ui-pdp-gallery__zoom-container,
.header-wrapper--fixed+main>.ui-pdp-not-found .ui-pdp-gallery__zoom-container,
.header-wrapper--fixed+main>.ui-pdp--error .ui-pdp-gallery__zoom-container,
.header-wrapper--fixed+main>.ui-vip-core .ui-pdp-gallery__zoom-container {
    z-index: 900
}

.header-wrapper--with-flash.header-wrapper--fixed+main>.nav-main-content,
.header-wrapper--with-flash.header-wrapper--fixed+main>.home {
    padding-top: 86px
}

.header-wrapper--with-flash.header-wrapper--fixed+main>.nav-main-content.home--with-transparency,
.header-wrapper--with-flash.header-wrapper--fixed+main>.home.home--with-transparency {
    padding-top: 86px
}

.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search--zrp,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp-not-found,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp--error,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-vip-core {
    padding-top: 86px
}

.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search.home--with-transparency,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search--zrp.home--with-transparency,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp-not-found.home--with-transparency,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp.home--with-transparency,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp--error.home--with-transparency,
.header-wrapper--with-flash.header-wrapper--fixed+main>.ui-vip-core.home--with-transparency {
    padding-top: 30px
}

.header-wrapper--with-flash.header-wrapper--fixed .ui-pdp-gallery__zoom-container {
    z-index: 900
}

.header--editable {
    height: 56px;
    position: fixed;
    top: 0;
    width: 100%
}

.header--editable.header--editable--with-flash {
    height: 86px
}

.flash-component {
    align-items: center;
    background-color: #7b130a;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    justify-content: center;
    min-height: 30px;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100
}

.flash-component a {
    color: #ffffff;
    text-decoration: none
}

.flash-component a:focus,
.flash-component a:link,
.flash-component a:hover,
.flash-component a:visited {
    color: #ffffff;
    text-decoration: none
}

.flash-component__text {
    display: inline;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0
}

.flash-component__text p {
    display: inline
}

.flash-component__subtext {
    cursor: pointer
}

.flash-component {
    line-height: 1.25;
    padding: 8px 10px
}

.flash-component__text {
    font-size: 12px
}

.flash-component__link-wrapper {
    text-decoration: none
}

@media (max-width: 346px) {
    .flash-component__text {
        font-size: 10px
    }
}

.nav-fashion-header {
    border: none;
    height: 56px !important;
    position: relative;
    user-select: none
}

.nav-header--scrolled .nav-fashion-header {
    height: 56px !important
}

.nav-header--scrolled .nav-fashion-header .nav-fashion-vertical-list {
    top: 56px !important;
    transition: 0.2s
}

.nav-fashion-header__bounds {
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 24px;
    position: relative;
}

@media (max-width: 768px) {
    .nav-fashion-header__bounds {
        flex-direction: row-reverse;
    }
}

.nav-fashion-header__bounds .nav-fashion-header__title {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 167px
}

.nav-fashion-header__bounds .nav-fashion-header__logo {
    align-items: center;
    display: flex;
    height: 48px;
    position: relative
}

.nav-fashion-header__bounds .nav-fashion-list {
    display: flex;
    max-width: none;
    padding: 0;
    width: 100%
}

.nav-fashion-header__bounds .nav-fashion-list .nav-fashion-list__item {
    display: none
}

.nav-fashion-header__bounds .nav-fashion-list .nav-fashion__hamburger-button {
    align-items: center;
    display: flex
}

.nav-fashion-header__bounds .nav-fashion__sale-link-alternative {
    display: none
}

.nav-fashion-header__bounds .nav-fashion-header__nav-icons {
    max-width: 324px;
    width: 100%
}

.nav-fashion-header__bounds .nav-fashion-header__nav-icons .nav-icons-group {
    align-items: center;
    display: flex;
    float: right;
    height: 100%
}

.nav-fashion-header__bounds .nav-fashion-header__nav-icons .nav-search-form,
.nav-fashion-header__bounds .nav-fashion-header__nav-icons .contact-button {
    display: none;
    line-height: normal
}

.nav-fashion-header__bounds .nav-fashion-header__nav-icons .cart-badge {
    position: absolute
}

@media screen and (max-width: 768px) {
    .nav-fashion-header__bounds .nav-fashion-header__nav-icons .cart-badge {
        margin-left: 19px;
        margin-top: 0
    }
}

@media screen and (max-width: 768px) {
    .nav-fashion-header__bounds .nav-fashion-header__nav-icons .show-cart-badge-icon+.header--custom-svg {
        margin-top: 10px
    }
}

.nav-fashion-header__bounds .nav-fashion-header__nav-icons svg {
    fill: white
}

.nav-fashion-header__bounds .nav-fashion-header__nav-icons svg path {
    fill: white
}

.nav-logo-float-left .nav-fashion-header__bounds {
    flex-direction: row-reverse;
    /* justify-content: right */
}

.nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-list {
    order: 3;
    width: auto
}

.nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-header__nav-icons {
    margin-right: 24px;
    width: auto
}

.nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-header__title {
    margin-right: auto
}

.nav-fashion__sale-link a {
    font-weight: 600 !important;
    text-transform: uppercase
}

.nav-fashion-menu {
    background-color: #000;
    box-sizing: border-box;
    height: 100vh;
    left: -95vw;
    max-width: 480px;
    min-width: 320px;
    opacity: 0;
    padding: 32px;
    position: absolute;
    top: 56px;
    visibility: hidden;
    width: 85vw
}

.nav-fashion-menu a {
    color: white;
    text-decoration: none
}

.nav-fashion-menu .sidebar-menu-list {
    height: 80%;
    overflow-y: scroll;
    padding: 0
}

.nav-fashion-menu .sidebar-menu-list .how-buy-button__desktop {
    position: relative;
    top: 12px;
    padding: 18px 0
}

.nav-fashion-menu .sidebar-menu-list::-webkit-scrollbar {
    display: none
}

.nav-fashion-menu .responsive-menu-list {
    height: 80%;
    margin-top: 32px;
    overflow-y: scroll;
    padding: 0
}

.nav-fashion-menu .responsive-menu-list::-webkit-scrollbar {
    display: none
}

.nav-fashion-menu .nav-fashion-list--vertical__item {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: normal;
    justify-content: space-between;
    letter-spacing: 1px;
    margin: 16px 0;
    color: white;
}

.nav-fashion-menu .nav-fashion-list--vertical__item a {
    margin-right: 16px
}

.nav-fashion-menu .nav-fashion-list--vertical__item a:hover {
    opacity: 0.7
}

.nav-fashion-menu .nav-fashion-list--vertical__subitem-container,
.nav-fashion-menu .nav-fashion-list--vertical__attr-container {
    display: none
}

.nav-fashion-menu .nav-fashion-list--vertical__subitem {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: normal;
    justify-content: space-between;
    letter-spacing: 1px;
    margin: 16px 0 16px 16px
}

.nav-fashion-menu .nav-fashion-list--vertical__subitem a {
    margin-right: 16px
}

.nav-fashion-menu .nav-fashion-list--vertical__subitem a:hover {
    opacity: 0.7
}

.nav-fashion-menu .nav-fashion-list--vertical__attribute {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: normal;
    justify-content: space-between;
    letter-spacing: 1px;
    margin: 16px 0 16px 32px
}

.nav-fashion-menu .nav-fashion-list--vertical__attribute a {
    color: #fff;
    opacity: 0.5
}

.nav-fashion-menu .nav-fashion-list--vertical__attribute a:hover {
    opacity: 0.3
}

.nav-fashion-menu input[type=text] {
    color: rgba(255, 255, 255, 0.5);
    height: 24px;
    padding: 0 !important;
    position: relative;
    width: 100%
}

.nav-fashion-menu input[type=text]:focus {
    border: none !important;
    outline: 0;
    padding: 0 !important
}

.nav-fashion-menu .nav-fashion-list--vertical__hr {
    background: none;
    border-style: inset !important;
    border-width: 1px;
    opacity: 0.3
}

.nav-fashion-menu .nav-fashion-search-form {
    border-bottom: solid 1px rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px
}

.nav-fashion-menu .nav-fashion-search-form button,
.nav-fashion-menu .nav-fashion-search-form input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding-right: 16px
}

.nav-fashion-menu .nav-fashion-search-form button svg,
.nav-fashion-menu .nav-fashion-search-form input svg {
    fill: white
}

.nav-fashion-menu .nav-fashion-search-form button svg path,
.nav-fashion-menu .nav-fashion-search-form input svg path {
    fill: white
}

.nav-fashion-menu .nav-fashion-search-form button:focus {
    outline: 0
}

.nav-fashion-sidebar-menu {
    display: none
}

.nav-fashion-responsive-menu {
    display: block
}

#mobile-categories-menu-switch {
    display: none
}

@media screen and (max-width: 768px) {
    #mobile-categories-menu-switch:checked+#hamburguer-menu span:nth-child(1) {
        transform: translate3d(0px, 13px, 0) rotate(45deg)
    }

    #mobile-categories-menu-switch:checked+#hamburguer-menu span:nth-child(2) {
        transform: translate3d(0px, 13px, 0) rotate(135deg)
    }

    #mobile-categories-menu-switch:checked+#hamburguer-menu span:nth-child(3) {
        transform: translate3d(0px, 13px, 0) rotate(-45deg)
    }
}

#hamburguer-menu {
    cursor: pointer;
    display: inline-block;
    height: 24px;
    position: relative;
    width: 24px
}

#hamburguer-menu span {
    background-color: white;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    top: -2px;
    transition: transform 0.2s ease;
    width: 100%
}

#hamburguer-menu span:nth-child(1) {
    transform: translate3d(0px, 6px, 0)
}

#hamburguer-menu span:nth-child(2) {
    transform: translate3d(0px, 13px, 0)
}

#hamburguer-menu span:nth-child(3) {
    transform: translate3d(0px, 20px, 0)
}

input[data-js=categories-toggle],
input[data-js=attributes-toggle] {
    display: none
}

input[data-js=categories-toggle]:checked+.toggle-menu span:nth-child(1),
input[data-js=attributes-toggle]:checked+.toggle-menu span:nth-child(1) {
    transform: translate3d(0px, 13px, 0)
}

input[data-js=categories-toggle]:checked+.toggle-menu span:nth-child(2),
input[data-js=attributes-toggle]:checked+.toggle-menu span:nth-child(2) {
    transform: translate3d(0px, 13px, 0)
}

.toggle-menu {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 16px;
    transform: rotateX(180deg)
}

.toggle-menu span {
    background-color: white;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: transform 0.2s ease;
    width: 100%
}

.toggle-menu span:nth-child(1) {
    transform: translate3d(0px, 13px, 0) rotate(0deg)
}

.toggle-menu span:nth-child(2) {
    transform: translate3d(0px, 13px, 0) rotate(90deg)
}

@media screen and (max-width: 768px) {
    #popover-menu {
        display: none !important
    }
}

.body--block-scroll {
    overflow: hidden
}

.how-buy-button__desktop a {
    display: none
}

.nav-bounds--contact {
    display: block;
    text-align: center
}

.fashion-nav-footer .nav-bounds {
    border-color: #fff;
    border-top: 1px solid;
    max-width: 100%;
    padding: 0 24px
}

.fashion-nav-footer-contact__content {
    background-color: #000;
    color: white;
    padding: 0
}

.fashion-nav-footer-contact__content a {
    color: white
}

.nav-footer {
    background-color: #000
}

.fashion-nav-footer__contact {
    border-top: 1px solid #fff;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 24px;
    text-align: center;
    width: 100%
}

.fashion-nav-footer__contact a {
    font-size: 12px;
    line-height: 1.67;
    text-decoration: none
}

.fashion-nav-footer__categories-col {
    border-top: 1px solid #fff;
    box-sizing: border-box;
    padding: 24px;
    width: 100%
}

.fashion-nav-footer__categories-col .fashion-nav-footer__category:nth-child(n+7) {
    display: none
}

.fashion-nav-footer__categories-col .fashion-nav-footer__category a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none
}

.fashion-nav-footer__pages {
    border-top: 1px solid #fff;
    box-sizing: border-box;
    padding: 24px;
    width: 100%
}

.fashion-nav-footer__pages .fashion-nav-footer__page a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    opacity: 0.5
}

.fashion-nav-footer__pages .fashion-nav-footer__page a:hover {
    opacity: 1
}

.fashion-nav-footer__brand-col {
    box-sizing: border-box;
    padding: 24px 24px x 0 24px;
    width: 100%
}

.fashion-nav-footer__brand-col .fashion-nav-footer__logo-caption {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 20px
}

.fashion-nav-footer__social-media,
.fashion-nav-footer__social-media--responsive {
    text-align: center
}

.fashion-nav-footer__social-media a,
.fashion-nav-footer__social-media--responsive a {
    margin: 0 10px;
    text-decoration: none
}

.fashion-nav-footer__social-media {
    display: none
}

.fashion-nav-footer__social-media--responsive {
    padding: 32px 0
}

.nav-footer-disclaimer {
    padding: 12px 0
}

.nav-footer-about {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: left
}

.nav-footer-about p,
.nav-footer-about a {
    line-height: 24px
}

.nav-footer-about p {
    margin: 0 !important;
}

@media screen and (min-width: 768px) {
    .nav-cookie-disclaimer {
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center
    }

    .nav-cookie-disclaimer__text {
        font-size: 16px;
        margin: 0 16px 0 0
    }

    .nav-cookie-disclaimer__button {
        width: initial
    }

    .header-wrapper--fixed+main>.nav-main-content,
    .header-wrapper--fixed+main>.home {
        padding-top: 90px
    }

    .header-wrapper--fixed+main>.ui-search,
    .header-wrapper--fixed+main>.ui-search--zrp,
    .header-wrapper--fixed+main>.ui-pdp-not-found,
    .header-wrapper--fixed+main>.ui-pdp,
    .header-wrapper--fixed+main>.ui-pdp--error,
    .header-wrapper--fixed+main>.ui-vip-core {
        padding-top: 138px
    }

    .header-wrapper--fixed+main>.ui-search.home--with-transparency,
    .header-wrapper--fixed+main>.ui-search--zrp.home--with-transparency,
    .header-wrapper--fixed+main>.ui-pdp-not-found.home--with-transparency,
    .header-wrapper--fixed+main>.ui-pdp.home--with-transparency,
    .header-wrapper--fixed+main>.ui-pdp--error.home--with-transparency,
    .header-wrapper--fixed+main>.ui-vip-core.home--with-transparency {
        padding-top: 0
    }

    .header-wrapper--fixed+main>.ui-search.home--with-transparency.home--padding-top-content,
    .header-wrapper--fixed+main>.ui-search--zrp.home--with-transparency.home--padding-top-content,
    .header-wrapper--fixed+main>.ui-pdp-not-found.home--with-transparency.home--padding-top-content,
    .header-wrapper--fixed+main>.ui-pdp.home--with-transparency.home--padding-top-content,
    .header-wrapper--fixed+main>.ui-pdp--error.home--with-transparency.home--padding-top-content,
    .header-wrapper--fixed+main>.ui-vip-core.home--with-transparency.home--padding-top-content {
        padding-top: 138px
    }

    .header-wrapper--fixed+main>.ui-search .ui-pdp-gallery__zoom-container,
    .header-wrapper--fixed+main>.ui-search--zrp .ui-pdp-gallery__zoom-container,
    .header-wrapper--fixed+main>.ui-pdp-not-found .ui-pdp-gallery__zoom-container,
    .header-wrapper--fixed+main>.ui-pdp .ui-pdp-gallery__zoom-container,
    .header-wrapper--fixed+main>.ui-pdp--error .ui-pdp-gallery__zoom-container,
    .header-wrapper--fixed+main>.ui-vip-core .ui-pdp-gallery__zoom-container {
        z-index: 900
    }

    div.header-wrapper--fixed[data-ms-theme="fashion"]+main>.ui-search,
    div.header-wrapper--fixed[data-ms-theme="fashion"]+main>.ui-search--zrp {
        padding-top: 120px
    }

    .header-wrapper--with-flash.header-wrapper--fixed+main>.nav-main-content,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.home {
        padding-top: 120px
    }

    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search--zrp,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp-not-found,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp--error,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-vip-core {
        padding-top: 168px
    }

    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search.home--with-transparency,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-search--zrp.home--with-transparency,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp-not-found.home--with-transparency,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp.home--with-transparency,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-pdp--error.home--with-transparency,
    .header-wrapper--with-flash.header-wrapper--fixed+main>.ui-vip-core.home--with-transparency {
        padding-top: 30px
    }

    .header-wrapper--with-flash.header-wrapper--fixed .ui-pdp-gallery__zoom-container {
        z-index: 900
    }

    .header-wrapper--fixed+main>.nav-main-content .short-description--fixed .short-description__floating.non-fixed {
        top: 90px !important
    }

    .header-wrapper--with-flash.header-wrapper--fixed+main>.nav-main-content .short-description--fixed .short-description__floating.non-fixed {
        top: 120px !important
    }

    .header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--with-transparency .header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--padding-top-content,
    .header-wrapper--fixed+main>.nav-main-content.home--with-transparency .header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--padding-top-content,
    .header-wrapper--fixed+main>.home.home--with-transparency .header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--padding-top-content,
    .header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--with-transparency .header-wrapper--fixed+main>.nav-main-content.home--padding-top-content,
    .header-wrapper--fixed+main>.nav-main-content.home--with-transparency .header-wrapper--fixed+main>.nav-main-content.home--padding-top-content,
    .header-wrapper--fixed+main>.home.home--with-transparency .header-wrapper--fixed+main>.nav-main-content.home--padding-top-content,
    .header-wrapper--fixed+.nav-header__banner+main>.nav-main-content.home--with-transparency .header-wrapper--fixed+main>.home.home--padding-top-content,
    .header-wrapper--fixed+main>.nav-main-content.home--with-transparency .header-wrapper--fixed+main>.home.home--padding-top-content,
    .header-wrapper--fixed+main>.home.home--with-transparency .header-wrapper--fixed+main>.home.home--padding-top-content {
        padding-top: 90px
    }

    .header--editable {
        height: 90px
    }

    .header--editable.header--editable--with-flash {
        height: 120px
    }

    .flash-component {
        box-sizing: border-box;
        height: 30px;
        padding: 8px
    }

    .flash-component__text {
        font-size: 14px
    }

    .flash-component__link-wrapper {
        text-decoration: none
    }

    .flash-component__subtext {
        font-size: 12px;
        font-weight: 300;
        margin: 0
    }

    .flash-component__link {
        font-size: 12px;
        margin-left: 16px
    }

    .nav-fashion-header {
        height: 90px !important;
        transition: .3s ease
    }

    .nav-fashion-header__bounds {
        max-width: 1200px;
        width: calc(100% - 182px)
    }

    .nav-fashion-header__bounds .nav-fashion-list {
        max-width: none;
        margin: 0
    }

    .nav-fashion-header__bounds .nav-fashion-list .nav-fashion-list__item {
        align-items: center;
        display: flex;
        height: 100%;
        list-style: none;
        opacity: 0;
        visibility: hidden
    }

    .nav-fashion-header__bounds .nav-fashion-list .nav-fashion-list__item a {
        align-items: center;
        color: white;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        font-weight: normal;
        height: 100%;
        letter-spacing: 1px;
        margin: 0 12px;
        text-decoration: none
    }

    .nav-fashion-header__bounds .nav-fashion-list .nav-fashion-list__item a:hover {
        opacity: 0.7
    }

    .nav-fashion-header__bounds .nav-fashion-list .nav-fashion-list__item svg {
        margin-top: 6px
    }

    .nav-fashion-header__bounds .nav-fashion-list .nav-fashion__see-more--activated {
        display: block !important
    }

    .nav-fashion-header__bounds input[type=text] {
        color: rgba(255, 255, 255, 0.5);
        height: 24px;
        padding: 0 !important;
        position: relative;
        width: 100%
    }

    .nav-fashion-header__bounds input[type=text]:focus {
        border: none !important;
        outline: 0;
        padding: 0 !important
    }

    .nav-fashion-header__nav-icons .contact-button,
    .nav-fashion-header__nav-icons .cart-button {
        display: flex !important;
        margin-left: 24px
    }

    .nav-fashion-header__nav-icons .cart-badge {
        margin-left: 20.2px;
        margin-top: -10px
    }

    .nav-fashion-header__nav-icons .show-cart-badge-icon+.header--custom-svg {
        margin-top: 0
    }

    .nav-fashion-header__nav-icons .nav-search-form {
        border-bottom: 1px solid;
        border-color: transparent !important;
        display: flex !important;
        justify-content: space-between;
        transition: .2s
    }

    .nav-fashion-header__nav-icons .nav-search-form .search-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        position: relative
    }

    .nav-fashion-header__nav-icons .nav-search-form input {
        background: transparent;
        border: none;
        border-bottom: 1px solid;
        color: white;
        font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-size: 14px;
        opacity: 0;
        transition: .3s;
        visibility: hidden;
        width: 100%
    }

    .nav-fashion-header__nav-icons .nav-search-form input:focus,
    .nav-fashion-header__nav-icons .nav-search-form .search-button {
        outline: 0
    }

    .nav-fashion-header__title {
        bottom: 0;
        left: 0;
        margin: auto;
        max-width: 205px !important;
        position: absolute;
        right: 0;
        top: 0
    }

    .nav-fashion-list__item {
        display: flex !important
    }

    .nav-fashion__hamburger-button {
        display: none !important
    }

    .with-hamburguer-menu .nav-fashion-list__item {
        display: none !important
    }

    .with-hamburguer-menu .nav-fashion__hamburger-button,
    .with-hamburguer-menu .nav-fashion__sale-link {
        display: flex !important;
        align-items: center
    }

    .nav-fashion-sidebar-menu {
        display: block
    }

    .nav-logo-float-left .nav-fashion-header__bounds {
        flex-direction: row;
        justify-content: left
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-header__logo {
        height: 48px
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-header__title {
        justify-content: left;
        margin: 0 !important;
        order: -2;
        position: static
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-header__nav-icons {
        margin-left: auto;
        width: auto
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-list {
        order: -1;
        margin-left: 47px;
        max-width: 700px
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-list__item {
        white-space: nowrap !important
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion__hamburger-button {
        display: none !important
    }

    .nav-logo-float-left .nav-fashion-header__bounds .nav-fashion__see-more a {
        font-size: 14px
    }

    .nav-logo-float-left .nav-fashion-header__nav-icons {
        width: 324px !important
    }

    .nav-logo-float-left .nav-fashion-sidebar-menu {
        display: none
    }

    .with-hamburguer-menu.nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-header__title {
        margin: 0 16px 0 32px;
        order: -1 !important
    }

    .with-hamburguer-menu.nav-logo-float-left .nav-fashion-header__bounds .nav-fashion-list {
        margin-left: 0
    }

    .nav-search-form {
        width: 100% !important;
        max-width: 274px !important
    }

    .nav-header__banner {
        padding: 0
    }

    #nav-vertical-list {
        background-color: #000;
        left: -350px;
        max-height: 100vh;
        opacity: 0;
        overflow-y: hidden;
        pointer-events: none;
        position: absolute;
        top: 0;
        transition-timing-function: ease-out;
        transition: 0.2s;
        visibility: hidden;
        width: 350px;
        z-index: 2
    }

    #nav-vertical-list::-webkit-scrollbar {
        display: none
    }

    #nav-vertical-list .nav-fashion-list__item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        display: block !important
    }

    #nav-vertical-list .nav-fashion-list__item a {
        display: block;
        box-sizing: border-box;
        color: white;
        font-size: 18px;
        line-height: 1.20;
        padding: 25px 30px;
        text-decoration: none
    }

    #nav-vertical-list .nav-fashion-list__item:hover {
        background: rgba(255, 255, 255, 0.2) !important;
        border-color: transparent
    }

    .nav-fashion-responsive-menu {
        display: none
    }

    .body--block-scroll {
        overflow: visible
    }

    .close-sidebar-button input {
        display: none
    }

    .close-sidebar-button label {
        cursor: pointer;
        display: inline-block;
        height: 24px;
        margin-bottom: 48px;
        position: relative;
        width: 24px
    }

    .close-sidebar-button label span {
        background-color: white;
        display: block;
        height: 2px;
        opacity: 1;
        position: absolute;
        top: 0;
        transition: transform 0.2s ease;
        width: 100%
    }

    .close-sidebar-button label span:nth-child(1) {
        transform: translate3d(0, 13px, 0) rotate(45deg)
    }

    .close-sidebar-button label span:nth-child(2) {
        transform: translate3d(0, 13px, 0) rotate(135deg)
    }

    #popover-menu {
        background-color: #fff;
        display: none;
        list-style-type: none;
        max-height: 70vh;
        opacity: 0.95;
        overflow-y: auto
    }

    #popover-menu .nav-fashion-list--vertical__hr {
        background: none;
        border-style: inset !important;
        border-width: 1px;
        opacity: 0.3
    }

    .nav-fashion-desktop-categories-popover.nav-bounds,
    .nav-fashion-desktop-see-more-popover.nav-bounds {
        max-width: 1200px;
        width: calc(100% - 182px)
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__item {
        display: none;
        flex-wrap: wrap;
        justify-content: start
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__category {
        display: none;
        flex-wrap: wrap;
        justify-content: start
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__subitem {
        box-sizing: content-box;
        padding: 32px 64px 32px 0;
        width: 160px
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__subitem a {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__subitem a:hover {
        opacity: 0.7
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__attribute {
        padding-top: 12px
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__attribute a {
        color: #000;
        font-weight: normal;
        text-decoration: none
    }

    .nav-fashion-desktop-categories-popover .nav-fashion-list--horizontal__attribute a:hover {
        opacity: 0.7
    }

    .nav-fashion-desktop-see-more-popover {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        width: 100%
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__item {
        box-sizing: content-box;
        padding: 32px 64px 32px 0;
        width: 160px
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__category a {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__category a:hover {
        opacity: 0.7
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__subitem {
        padding-top: 16px
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__subitem a {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__subitem a:hover {
        opacity: 0.7
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__attribute {
        padding-top: 12px
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__attribute a {
        color: #000;
        font-weight: normal;
        text-decoration: none;
        opacity: 0.5
    }

    .nav-fashion-desktop-see-more-popover .nav-fashion-list--horizontal__attribute a:hover {
        opacity: 0.3
    }

    .nav-fashion-logo--scrolled {
        max-height: 100%
    }

    .nav-fashion-logo--centred {
        justify-content: center
    }

    .nav-fashion-logo-transition {
        transition: 0.3s ease-in-out
    }

    .fashion-nav-footer-contact__content {
        padding: 50px
    }

    .nav-bounds--contact {
        display: flex;
        justify-content: space-between;
        text-align: left
    }

    .fashion-nav-footer__brand-col {
        padding: 0;
        width: 248px
    }

    .fashion-nav-footer__categories-col {
        align-content: center;
        border: none;
        display: flex;
        /* flex: 1; */
        flex-direction: column;
        /* flex-wrap: wrap; */
        max-width: 384px;
        padding: 0
    }

    .fashion-nav-footer__categories-col .fashion-nav-footer__category {
        display: block !important;
        margin-right: 48px;
        max-width: 168px
    }

    .fashion-nav-footer__categories-col .fashion-nav-footer__category:not(:last-child) {
        margin-bottom: 16px
    }

    .fashion-nav-footer__categories-col .fashion-nav-footer__category:nth-child(n+9) {
        display: none !important
    }

    .fashion-nav-footer__categories-col .fashion-nav-footer__category a {
        font-weight: normal;
        line-height: 18px;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .fashion-nav-footer__pages {
        border: none;
        height: auto;
        max-width: 166px;
        padding: 0
    }

    .fashion-nav-footer__pages .fashion-nav-footer__page {
        display: block !important;
        margin-right: 48px
    }

    .fashion-nav-footer__pages .fashion-nav-footer__page a {
        font-weight: normal;
        line-height: 18px
    }

    .fashion-nav-footer__contact-col {
        border: none;
        padding: 0;
        width: 300px
    }

    .fashion-nav-footer__contact-col .fashion-nav-footer__social-media {
        display: block;
        text-align: right
    }

    .fashion-nav-footer__contact-col .fashion-nav-footer__social-media a {
        margin: 0 0 0 16px
    }

    .fashion-nav-footer__contact-col .fashion-nav-footer__contact {
        border: none;
        list-style: none;
        margin-top: 40px;
        padding: 0;
        text-align: right
    }

    .fashion-nav-footer__social-media--responsive {
        display: none
    }

    .fashion-nav-footer .nav-bounds {
        max-width: 1200px;
        padding: 0
    }

    .nav-footer-disclaimer {
        padding: 0
    }

    .nav-footer-about {
        display: block;
        text-align: left
    }

    .nav-footer-about p,
    .nav-footer-about a {
        display: inline-block;
        font-size: 12px;
        line-height: normal
    }

    .nav-footer-about a {
        margin-right: 12px;
        position: relative
    }

    .nav-footer-about a:hover {
        text-decoration: none
    }

    .nav-footer-about a:not(:first-child) {
        margin-left: 12px
    }

    .nav-footer-about a:first-child {
        padding-right: 64px
    }
}

.d-none {
    display: none !important
}

.how-buy__button a {
    opacity: 0.5
}

.nav-footer-fiscal-data {
    font-size: 10px;
    justify-content: left;
    margin-top: 8px;
    opacity: 0.8;
    text-align: left
}

/* CUSTOM CSS */

/* GENERALES */
a:visited {
    color: unset !important;
}

a:link {
    color: unset !important;
}

.ui-search-main {
    margin-top: 100px !important;
}

.ui-pdp--relative {
    margin-top: 100px !important;
}

.ui-search-breadcrumb__title {
    z-index: 0 !important;
}

.ui-pdp-gallery__thumbnail {
    z-index: 0 !important;
}

.ui-search {
    margin-top: 65px !important;
}

.ui-pdp-price__part:not(.price-tag__disabled) span {
    color: #e42313!important;
}

/* HEADER */
.nav-fashion-header {
    background: none;
    background-color: #E42313!important;
}

@media (min-width: 768px) {
    .nav-fashion-list {
        display: none !important;
    }
}

.header--custom-background {
    background-color: unset !important;
}

.price-and-image {
    background-image: url("https://mla-s1-p.mlstatic.com/D_NQ_NP_974045-MLA48946135086_012022-OO.jpg") !important;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-header {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .logo-header {
        display: none;;
    }
}

.logo-header-mobile {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .logo-header-mobile {
        display: none;
    }
}

.categorias-header {
    display: flex;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .categorias-header {
        display: none;
    }
}

.categorias-header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.categorias-header a {
    text-decoration: none !important;
    margin-right: 20px;
    color: white !important;
    font-size: 14px;
}

.categorias-header a:hover {
    transition: ease-in-out .2s;
    color: rgba(255, 255, 255, 0.514) !important;
}

.header--custom-background-mobile {
    background-color: #e42313;
}

.nav-header__hamburger {
    background-color: white !important;
}

.submenu-categorias {
    z-index: 5;
    width: 100%;
    height: 400px;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.seleccion-submenu-categorias {
    margin-right: 100px;
}

.seleccion-submenu-categorias p {
    color: black;
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px !important;
}

.seleccion-submenu-categorias p:hover {
    color: #e42313;
    cursor: pointer;
}

.seleccion-submenu-categorias p::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #e42313;
    transition: width .3s;
}

.seleccion-submenu-categorias p:hover::after {
    width: 100%;
    transition: width .3s;
    cursor: pointer;
}

.seleccion-submenu-categorias a {
    color: black !important;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.seleccion-submenu-categorias a:hover {
    color: #e42313 !important;
    cursor: pointer;
}

.seleccion-submenu-categorias a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #e42313;
    transition: width .3s;
}

.seleccion-submenu-categorias a:hover::after {
    width: 100%;
    transition: width .3s;
    cursor: pointer;
}

.seleccion-categorias {
    display: flex;
}

.tarjeta-categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border-radius: 5px;
}

.tarjeta-categoria img {
    width: 120px;
}

.tarjeta-categoria:hover {
    transition: ease-in-out .2s;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.tarjeta-categoria p {
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.tarjeta-categoria a {
    text-decoration: none;
}

.seleccion-productos {
    display: flex;
    align-items: center;
}

.grupo-productos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start !important;
    margin-right: 100px;
    text-align: start;
}

.grupo-productos a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.grupo-productos a:hover {
    transition: ease-in-out .2s;
    color: #e42313 !important;
    transform: scale(1.1);
}

.imagen-productos img {
    width: 200px;
    height: 200px;
}

.descargar-catalogo img {
    width: 20px;
    height: 20px;
}

.descargar-catalogo:hover img {
    filter: invert(18%) sepia(77%) saturate(5146%) hue-rotate(357deg) brightness(93%) contrast(92%);
}

.responsive-menu-list .flecha-productos {
    width: 20px;
    filter: invert();
    transition: ease-in-out .2s;
}

.responsive-menu-list .flecha-productos:hover {
    filter: invert() opacity(0.5);
}

.subcategoria-mobile {
    list-style: none;
}

.subcategoria-mobile li {
    list-style: none;
    color: white;
    font-size: 16px;
    margin-top: 5px!important;
}

.subcategoria-mobile ul {
    margin-bottom: 20px!important;
}

ul .subcategoria-mobile-nivel {
    padding-left: 20px;
}

.subcategoria-mobile-nivel li {
    font-size: 14px !important;
}

.invisible {
    display: none !important;
}

.rotar {
    transform: rotate(90deg);
}

/* FOOTER */

.instagram-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.texto {
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

@media (max-width: 1200px) {
    .texto {
        width: 1000px;
    }
}

@media (max-width: 768px) {
    .texto {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 400px;
    }
}

.texto p {
    font-size: 20px;
}

.texto a {
    font-size: 20px;
    text-decoration: none;
    color: black !important;
}

.texto a:hover {
    color: #C13584;
}

.texto p:first-child {
    text-transform: uppercase;
}

.fotos-contenedor {
    display: flex;
}

@media (max-width: 768px) {
    .fotos-contenedor {
        flex-direction: column;
    }
}

.foto-grande {
    max-width: 800px;
    max-height: 800px;
    margin-right: 10px;
}

.fotos-uno {
    display: flex;
}

@media (max-width: 768px) {
    .fotos-uno {
        flex-direction: column;
    }
}

.fotos-uno img {
    max-width: 475px;
    max-height: 475px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.30) 1.95px 1.95px 2.6px;
}

@media (max-width: 1200px) {
    .fotos-uno img {
        max-width: 375px;
        max-height: 375px;
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .fotos-uno img {
        margin-top: 10px;
    }
}

.fotos-dos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .fotos-dos {
        flex-direction: row;
        margin-top: 10px;
    }
}

.fotos-dos img {
    max-width: 232px;
    max-height: 232px;
    box-shadow: rgba(0, 0, 0, 0.30) 1.95px 1.95px 2.6px;
}

@media (max-width: 1200px) {
    .fotos-dos img {
        max-width: 180px;
        max-height: 180px;
        margin-right: 10px;
    }
}

.contenedor-instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.sector-top {
    display: flex;
}

@media (max-width: 768px) {
    .sector-top {
        flex-direction: column;
    }
}

.sector-top-imagenes {
    display: flex;
}

@media (max-width: 768px) {
    .sector-top-imagenes {
        justify-content: center;
    }

}

.sector-bottom {
    display: flex;
}

@media (max-width: 768px) {
    .sector-bottom {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.texto-instagram {
    background-color: #d70025;
    width: 680px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media (max-width: 768px) {
    .texto-instagram {
        width: 400px;
    }
}

.titulo-instagram {
    font-size: 46px;
    font-weight: bolder;
    color: white;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}

.parrafo-instagram {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 30px;
}

.enlace-instagram {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.enlace-instagram:hover {
    transition: ease-in-out .2s;
    margin-left: 5px;
    transform: scale(1.1);
}

.enlace-instagram img {
    width: 20px !important;
    height: 20px !important;
    margin-left: 20px !important;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(153deg) brightness(102%) contrast(101%);
}

.enlace-instagram p {
    color: white;
    font-weight: bolder;
    margin-left: 20px;
}

.contenedor-instagram img {
    width: 340px;
    height: 340px;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .contenedor-instagram img {
        width: 200px;
        height: 200px;
    }
}

.imagen-uno,
.imagen-dos,
.imagen-tres,
.imagen-cuatro,
.imagen-cinco,
.imagen-seis {
    width: 340px;
    height: 340px;
    margin: 0;
    padding: 0;
}

.imagen-uno img:hover,
.imagen-dos img:hover,
.imagen-tres img:hover,
.imagen-cuatro img:hover,
.imagen-cinco img:hover,
.imagen-seis img:hover {
    transition: ease-in-out .2s;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

@media (max-width: 768px) {

    .imagen-uno,
    .imagen-dos,
    .imagen-tres,
    .imagen-cuatro,
    .imagen-cinco,
    .imagen-seis {
        width: 200px;
        height: 200px;
    }
}

.fashion-nav-footer-contact__content {
    background-color: #252223;
}

.nav-footer {
    background-color: #1a1818;
}

@media (max-width: 768px) {
    .imagen-footer {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.fashion-nav-footer__categories-col {
    width: 200px;
    max-width: 200px;
}

@media (max-width: 768px) {
    .fashion-nav-footer__categories-col {
        margin: 0 auto;
    }
}

.fashion-nav-footer__categories-col p {
    color: #E42313;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bolder;
}

.fashion-nav-footer__categories-col a {
    margin: 0;
    padding: 0;
}

.fashion-nav-footer__categories-col a:hover {
    transition: ease-in-out .2s;
    color: #E42313 !important;
    transform: translate(5px);
}

.header--custom-svg {
    fill: white !important;
}

.header--custom-svg:hover {
    fill: rgba(255, 255, 255, 0.514) !important;
}

.contacto-footer {
    display: flex;
    flex-direction: column;
}

.contacto-footer a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.siguenos {
    align-items: center;
}

.redes-footer {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

.redes-footer a {
    text-decoration: none;
    transition: ease-in-out .2s;
}

.redes-footer a img {
    width: 30px;
    filter: invert(99%) sepia(2%) saturate(2%) hue-rotate(47deg) brightness(114%) contrast(100%);
    transition: ease-in-out .2s;
}

@media (max-width: 768px) {
    .redes-footer {
        width: unset;
    }
}

.redes-footer a:hover {
    transform: translate(0px);
    transform: scale(1.1);
}

.redes-footer a .facebook:hover {
    filter: invert(31%) sepia(77%) saturate(1948%) hue-rotate(202deg) brightness(98%) contrast(94%);
}

.redes-footer a .instagram:hover {
    filter: invert(28%) sepia(70%) saturate(1693%) hue-rotate(295deg) brightness(90%) contrast(90%);
}

.redes-footer a .youtube:hover {
    filter: invert(18%) sepia(98%) saturate(7082%) hue-rotate(359deg) brightness(107%) contrast(115%);
}

/* PUBLICACIÓN */

.ui-pdp-description__title,
.ui-pdp-specs__title {
    padding: 0 !important;
    margin-bottom: 24px !important;
    color: #e42313 !important;
    border-bottom: 1px solid #e42313 !important;
}

.price-tag-fraction:not(.price-tag__disabled),
.price-tag-symbol {
    color: #e42313 !important;
}

/* CARRITO */

@media (min-width: 768px) {
    .top-disclaimers+.cart__list-items {
        margin-top: 115px!important;
    }
}

/* NOSOTROS */

.contenedor-nosotros-principal {
    width: 100%;
    margin-top: 100px;
}

.contenedor-nosotros-uno {
    max-width: 650px;
    padding: 20px 60px;
}

@media (max-width: 768px) {
    .contenedor-nosotros-uno {
        max-width: 100%;
        padding: 20px 20px;
        margin: 0 auto;
        text-align: justify;
    }
}

.contenedor-nosotros-uno h2 {
    font-size: 54px;
}

@media (max-width: 768px) {
    .contenedor-nosotros-uno h2 {
        font-size: 44px;
        padding: 10px 0px;
    }
}

.contenedor-nosotros-dos {
    display: flex;
    justify-content: space-between;
    max-height: 550px;
}

@media (max-width: 768px) {
    .contenedor-nosotros-dos {
        flex-direction: column;
    }
}

.nosotros-cifras {
    background-color: #f5f5f5;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .nosotros-cifras {
        padding: 10px;
        max-width: unset;
        flex-direction: row;
        align-items: end;
    }
}

.cifra  {
    text-align: center;
}

.cifra p {
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

@media (max-width: 768px) {
    .cifra p {
        padding: 0;
        font-size: 10px;
    }
}

.cifra h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 64px;
}

@media (max-width: 768px) {
    .cifra h2 {
        font-size: 54px;
    }
}

.cifra span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #e3000f;
}

@media (max-width: 768px) {
    .cifra span {
        font-size: 14px;
    }
}

.nosotros-mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.nosotros-mapa img {
    max-width: 60%;
    height: auto;
}

@media (max-width: 768px) {
    .nosotros-mapa img {
        max-width: 100%;
    }
}

.contenedor-nosotros-tres {
    width: 100%;
    padding: 20px 60px;
    background-color: #dadada;
}

@media (max-width: 768px) {
    .contenedor-nosotros-tres {
        padding: 20px 20px;
    }
}

.contenedor-nosotros-tres p {
    max-width: 500px;
}

@media (max-width: 768px) {
    .contenedor-nosotros-tres p {
        width: 100%;
        text-align: center;
    }
}

.contendor-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .contendor-info {
        flex-direction: column;
    }
}

.info-izquierda {
    width: 40%;
}

@media (max-width: 768px) {
    .info-izquierda {
        width: 100%;
    }
}

.estandares {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .estandares {
        padding: 20px;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}


.estandares p {
    font-size: 12px;
}

.estandar {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .estandar {
        margin: 10px 5px;
    }
}

.estandar .icono {
    width: 80px;
    height: 80px; 
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100px;
    font-weight: bold;
}

.estandar .icono img {
    width: 55px;
}

.info-derecha {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .info-derecha {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}

.ubicaciones {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
}

@media (max-width: 768px) {
    .ubicaciones {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        max-width: 100%;
    }
}

.ubicacion {
    margin: 20px;
    display: flex;
    align-items:flex-end;
    max-width: 300px;
}

@media (max-width: 768px) {
    .ubicacion {
        margin: 20px 10px;
    }
}

.ubicacion img {
    width: 60px;
}

.ubicacion h4 {
    font-size: 14px;
    font-weight: bold;
}

.ubicacion p {
    font-size: 12px;
}

.ui-item__discount-text{
    color: #000 !important;
}